<h2 class="m-l-26">Product List</h2>
<button type="button" class="btn m-b-16 m-l-26" [routerLink]="['/add-product']" aria-label="Create Product Button">Create Product</button>

<div class="grid-container-list">
    <div class="grid-item" *ngFor="let product of products">
        <div class="texts">
            <h5>Product Name:{{ product.productName }}</h5>
            <h6>Product Number:{{product.productNumber}}</h6>
            <h6>Product Category: {{ product.productCategory }}</h6>
            <h6>Product Price: {{product.productPrice}}</h6>
        </div>
        <div class="buttons m-t-16 m-l-6">
            <button type="button" class="btn edit m-r-10" href="#" [routerLink]="['/edit-product/', product.id]" aria-label="Edit Product Button">Edit</button>
            <button type="button" class="btn delete" (click)="deleteMusic(product.id)" value="Delete" aria-label="Delete Product Button">Delete</button>
        </div>
    </div>
</div>